.title-homepage {
  color: #F47C7C;
}

.body {
  background-color: white;
}

.paragraph {
  color: #F47C7C;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;

}

.fotoDiri{
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: 1px;
  margin-right: auto;
  width: 30%;
}
